.App {
  text-align: center;
}

body {
  background-color: lightblue;
}

.village-button {
  font-size: 16px;
  border: 1px solid black;
  margin: 20px;
}

input {
  margin: 10px;
  border: 1px solid black;
  font-size: 16px;
  padding: 5px;
}

.submit {
  font-size: 16px;
  background-color: white;
  padding: 5px;
  border: 1px solid black;
}

.card {
  border: 1px solid black;
  width: 300px;
  margin: 20px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
